#parallax-container {
    position: relative;
    top: 55px;
    height: 400px;
    background-image: url(../images/space.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px blue;
}

.card {
    margin: 10px 0;
}

h5 {
    display: inline-block;
}

.article-img {
    border: 1px solid gray;
}

.save-article, .delete-saved, .article-notes, #scrape, #clear {
    float: right;
    margin: 0 0 0 10px;
}

.card-body p {
    position: absolute;
    top: 75px;
    left: 250px;
}

body {
    background-image: url(../images/texture.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#link-scrape, #link-saved {
    display: block;
}

#no-articles {
    text-align: center;
}

.modal-body, .modal-notes {
    margin: 20px;
    padding: 0 20px;
}